<div class="container-fluid">
    <form action="/insert" method="post">
        <div class="card border-info  mt-5 w-75 mx-auto">
            <div class="card-header  bg-dark text-white" style="font-size: 25px;text-align: center;">
                Add Details
            </div>
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col-md-2 mt-1">
                        <label for="" style="font-size: 20px;">Subject Code</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="subjectcode" class="form-control">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2 mt-1">
                        <label for="" style="font-size: 20px;">Subject Name</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="subjectname" class="form-control">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2 mt-1">
                        <label for="" style="font-size: 20px;">Institute Name</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="institutename" class="form-control">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2 mt-1">
                        <label for="" style="font-size: 20px;">Department Name</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="departmentname" class="form-control">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2 mt-1">
                        <label for="" style="font-size: 20px;">Semester</label>
                    </div>
                    <div class="col-md-4">
                        <select name="semester" id="" class="form-select">
                            <option value="1st">1st</option>
                            <option value="2nd">2nd</option>
                            <option value="3rd">3rd</option>
                            <option value="4th">4th</option>
                            <option value="5th">5th</option>
                            <option value="6th">6th</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-1">
                        <button class="btn btn-dark">Insert</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>